a {
	text-decoration:none;
}

body {
	background-color:#dddddd;
	margin:0;
	padding:0;
}

tr {
	border:1px solid black;
}

th {
	background-color:#e1e1e1;
}

table {
	width:400px;
	background-color:white;
	border-collapse: collapse;
}

hr {
	width:500px;
	margin:0px;
}

.navbar_ul {
	list-style-type: none; /* Removes the dots on links */
	margin-top: 0;
	margin-bottom: 0;
    padding: 0;
    overflow: hidden; /* Hide elements which overflow their containers */
    background-color: #393939;
	background-image: url(logo.png);
	background-repeat: no-repeat;
	background-position: center; 
}

.navbar_ul li a {
	display: block;
    color: white;
    text-align: center;
    padding: 20px 13px;
    text-decoration: none;
}

.navbar_ul li a:hover {
	background-color: #bbbbbb;
}

.page-content {
	padding: 20px;
	max-width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
}

.project-display {
	display: grid;
	grid-template-columns: repeat(auto-fill, 200px);
	grid-template-rows: repeat(auto-fill, 200px);
	grid-gap: 20px;
}

.project-box {
	display: grid;
	grid-template-rows: 10px 130px 10px 40px 10px;
	grid-template-columns: 10px 180px 10px;
	padding: 0px;
	background-color: #cccccc;
}

.project-image {
	position:relative;
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
	display: grid;
	padding:0px;
	margin:0px;
	justify-content: center;
}

.project-image img {
	display: block;
	margin: 0px;
	padding: 0px;
	width: 180px;
	height: 130px;
}

.project-linker {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #272727;
}

.project-linker h3 {
	padding-top: 20px;
	text-align: center;
}

.project-image:hover .project-linker {
	opacity: 0.9;
}

.project-image a {
	text-decoration:none;
	color: white;
}

.project-box h4 {
	grid-row-start: 4;
	grid-row-end: 5;
	grid-column-start: 2;
	grid-column-end: 3;
	height: 35px;
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 0px;
	font-size: 13px;
	text-align: center;
	color: #ffffff;
	background-color: #2d2d2d;
}

.page-content p {
	border:1px solid black;
	width:500px;
	margin-left:auto;
	margin-right:auto;
}
